<div class="content">
<% content_for(:page_title) { "ALL TRIPS" } %>
<div class="jumbotron text-center">
  <h2 style="display:inline"> TOTAL TRIPS: </h2>
  <h2 style="display:inline" id="count-trips"></h2>
   <%= image_tag 'trash.jpg', id: 'trash' %>
</div>
<div class="row trips_container">
  <% @trips.each do |trip| %>
    <div class="col-xs-18 col-sm-3 col-md-4 stack" id="tripLi" data-id="<%= trip.id %>">
      <br>
      <div class="thumbnail text-center trip_card">
        <%= google_maps_image_tag(trip.destination, class: "menu_icon") %>
        <h4 class ="trip_card_title"> <%=link_to trip.destination, trip_path(trip.id) %></h4>
        <h4 class ="trip_card_title">Start Date : <%=trip.start_date %></h4>
        <h4 class ="trip_card_title">End Date : <%=trip.end_date %></h4>
      </div>
      <!-- TODO: Remove ID -->
      <div id="count-trips" class="caption">
        <%= link_to edit_trip_path(trip) do %>
        <%= image_tag 'small_edit.png', class: 'edit_icon' %>
        <% end %>
        <%= link_to trip_path(trip), method: :delete, data: { confirm: 'Are you sure you want to permanently delete this trip?' } do %>
          <%= image_tag 'small_delete.png', class: 'delete_icon' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>
