<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>


<!-- <div class="container"> -->
 <!--                <div class="jumbotron text-center">
                    <h2><img style="max-width:200px;" src="//i.imgur.com/pjs3K1M.jpg">TRAVEL PACKING ASSISTANT</h2>
                    <p>This is an application for generating a personalized packing list with custom items for packing</p>
                </div> -->
<!--                 <img id="homepic" src="/assets/travel-background.jpg"> -->
              <!--   <div class="text-center"> -->
                    <!-- <div style="height: 400px"></div> -->
                  <!--   <div class= "arrow_box">
                    <h3>Get Started!</h3> -->
                      <!--    <button class="btn btn-primary btn-lg" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">GET STARTED</button> -->
                   <!--  </div> -->
               <!--  </div> -->

    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Travel Packing Assistant</h1>
            <h3>Generate, Customize & Save Your Personalized Packing List</h3>
            <br>
            <a href="#signup" data-toggle="modal" data-target=".bs-modal-sm" class="btn btn-dark btn-lg">Get Started</a>
        </div>
    </header>


<!-- Modal -->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
              <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
  
            </ul>
        </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade active in" id="signin">

 <!-- Sign In Form -->

    <div class="omb_login">
<center>
    <div class="row omb_row-sm-offset-3 omb_socialButtons">
    <div class="text-center" style="width: 280px;">
     <h5 class="text-center">One-click Sign In</h5>
         
     <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>

 <a href="/users/auth/<%=provider%>" class="btn btn-block btn-social btn-<%=provider%>" id="home">
    <i class="fa fa-<%=provider%>"></i> Sign in with <%=provider.capitalize%>
  </a>
      <% end -%>
    <% end -%>
        
          </div>
    </div>

    <div class="row omb_row-sm-offset-3 omb_loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="omb_hrOr">
        <span class="omb_spanOr">or</span>
      </div>
    </div>

    <div class="row omb_row-sm-offset-3">
     
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin middle"}) do |f| %>
              <h5 class="text-center">Log in with Email</h5>
    <%= f.error_notification %>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
         <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
          </div>
          <span class="help-block"></span>
                    
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
    <%= f.input :password, required: false, label: false, placeholder: "Password", input_html: {class: "form-control"} %>
          </div>
          <br>
   <%= f.button :submit, "Log in", class: "btn btn-primary btn-block login", id: "login-btn" %>
          <% end %>
            <%-# render "devise/shared/links" -%>
            <br><br>
     
      </div>
      </center>
   </div> <!-- omb-login -->
        </div>
        <div class="tab-pane fade" id="signup">
           
           
 <!-- Sign Up Form -->


    <div class="omb_login">
<center>
    <div class="row omb_row-sm-offset-3 omb_socialButtons">
    <div class="text-center" style="width: 280px;">
     <h5 class="text-center">One-click Sign Up</h5>
         
     <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>

 <a href="/users/auth/<%=provider%>" class="btn btn-block btn-social btn-<%=provider%>" id="home">
    <i class="fa fa-<%=provider%>"></i> Sign up with <%=provider.capitalize%>
  </a>
      <% end -%>
    <% end -%>
        
          </div>
    </div>
     <div class="row omb_row-sm-offset-3 omb_loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="omb_hrOr">
        <span class="omb_spanOr">or</span>
      </div>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin middle"}) do |f| %>
   <h5 class="text-center">Sign Up with Email</h5>
    <%= f.error_notification %>
    <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
          </div>

      <span class="help-block"></span>
                    
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
     <%= f.input :password, required: true, label: false, placeholder: "Password", input_html: {class: "form-control"}  %>
          </div>

    <span class="help-block"></span>
                    
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
    <%= f.input :password_confirmation, required: true, label: false, placeholder: "Password Confirmation", input_html: {class: "form-control"}  %>
          </div>

    <span class="help-block"></span>
    <%= f.button :submit, "Sign up", class: "btn btn-primary btn-block red-btn", id: "signup-btn" %>
    <% end %>
    <%-# render "devise/shared/links" -%>
    
          <br>
      </div>
      </center>
    </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- </div> end of container -->

  </body>
</html>