<head>
  <%= include_gon %>
 </head>
    <% if current_user %>
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-offset" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <%= link_to '<i class="fa fa-home fa-2x"></i>'.html_safe, root_path, class: "navbar-brand", id: "home" %>
          <%= link_to '   ADD NEW TRIP'.html_safe, root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li ><%= link_to "MY CALENDAR", calendar_path %></li>
            <li ><%= link_to "MY TRIPS", trips_path %></li>
            <li ><%= link_to "CURRENCY CONVERTER", currency_path %></li>
            <li ><%= link_to "TRAVEL BLOG", blog_path %></li>


    
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" style="height: 60px;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%- if current_user.image %>
           <%= image_tag current_user.image, {style: "width: 40px; border-radius: 7px;"} %>
           <b class="caret"></b>
           <%- else %>
            <%= image_tag 'default-profile-pic.png', {style: "width: 40px; border-radius: 7px;"} %>
           <b class="caret"></b>
           <%- end %>
           </a>
          <ul class="dropdown-menu">
            <li align="center" class="well">
                <h6><%= current_user.name %></h6>
                <%- if current_user.provider == nil || current_user.uid == nil%>
                   <h6><i class="fa fa-user"></i> Signed in as <%=current_user.email %></h6>
                 <%- else %>
                <h6><i class="fa fa-user"></i> Signed in with <%= current_user.provider.capitalize %></h6>
                <%- end %>
              <%= link_to edit_user_registration_path, class: "btn btn-sm btn-default"  do%>
              <span class="glyphicon glyphicon-lock"> Profile Settings</span>
              <% end %>
              <%= link_to destroy_user_session_path, class: "btn btn-sm btn-default", method: :delete do %>
                <span class="glyphicon glyphicon-log-out"> Log Out </span>
              <% end %>
            </li>
           </ul>
        </li>
      </ul>
            <% else %>
            <% end %>
          </ul>
        </div>
        <!-- end of navbar-collapse -->
      </div>
      <!-- end of container-fluid -->
    </nav>

